* {
  font-family: "Solway", serif;
}
.nav_logo {
  height: 50px;
  width: 50px;
}
#img-card {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#cards {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.body {
  margin: 0px;
}
#movies {
  display: flex;
  /* justify-content: center; */

  overflow-y: hidden;
  overflow-x: scroll;
}
#btn-nowPlaying {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
#playlist {
  overflow-y: hidden;
  display: flex !important;
  overflow-x: scroll;
  /* padding: 2rem; */
  height: 20rem;
}
.card:hover .overlay {
  opacity: 1;
  color: white;
}
#playlist img {
  height: 15rem;
  border-radius: 5px;
}
#movies img {
  height: 20rem;
}
#movies .card {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 20rem;
}
footer {
  margin-top: 40px;
}
/* 
 */
#description {
  font-size: 10px;
}
#coverimg {
  filter: blur(1px);
  background: rgba(0, 0, 0, 0.8);
  height: 33rem !important;
}
#playlist::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#playlist::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#playlist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}
.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.card:hover .overlay h3 {
  font-size: 2rem;
}
